.button-add {
	margin-bottom: 10px;
}
.show-in-page {
	float: left;
	margin-left: 10px;
}

.search-table {
	float: right;
	margin-right: 15px;
	margin-bottom: 10px;
}

.pagination {
	font-family: 'Tahoma';
	font-size: 90%;
	display: inline-block;
	padding-left: 0;
	margin: 2px 0px 10px 10px;
	border-radius: 4px;
}

.paginate-2 {
	float: right;
	margin-right: 15px;
	margin-bottom: 10px;
}

.paginate-3 {
	position:relative;
	float: left;
}

.pagination>li {
	display: inline
}

.pagination>li>a {
	position: relative;
	float: left;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.42857143;
	color: #337ab7;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd
}

.pagination>li>a:hover,.pagination>li>a:FOCUS {
	color: #fff;
	cursor: default;
	background-color: #337ab7;
	border-color: #337ab7
}

.pagination .active {
	color: #fff;
	cursor: default;
	background-color: #337ab7;
	border-color: #337ab7
}

.pagination li.active{
	position: relative;
	float: left;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.42857143;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
	
	color: #fff;
	cursor: default;
	background-color: #337ab7;
	border-color: #337ab7
}

.go-to-page {
	height: 33px;
	text-align: center;
	margin-left: 5px;
}

.btn-go-page {
	height: 35px;
}

.table {
	font-family: 'Tahoma';
	font-size: 90%;
}

.form-input {
	width: 70%;
}

.form-input td {
	padding: 5px;
}

.message {
	float: right;
	font-size: 20px;
	margin-right: 10px;
	color: red;
}

.btn-submit {
	margin-top: -50px;
}

.textbox-search {
	width: 200px;
	height: 30px;
}

.selectbox-search {
	height: 30px;
}

.box-title-center{
	font-size: 18px;
	margin: 0;
	line-height: 1;
	text-align:center;
}

.btn-status-activity td{
	padding:5px;
}

.form-action {
	margin-top :50px;
}