<!DOCTYPE sqlMap PUBLIC "-//ibatis.apache.org//DTD SQL MAP 2.0//EN"
"http://ibatis.apache.org/dtd/sql-map-2.dtd">
<sqlMap namespace="division">
	<insert id="insert" parameterClass="prime.admin.division.DivisionBean">
		INSERT INTO DIVISIONS
		(DIVISION_ID , DIVISION_NAME, UPDATED_BY) VALUES 
		(#divisionId#, #divisionName#, #updateBy#)
	</insert>
	
	<update id="update" parameterClass="prime.admin.division.DivisionBean">
		UPDATE DIVISIONS 
		SET
			DIVISION_NAME	= #divisionName#,
			UPDATED_BY 		= #updateBy#
		WHERE DIVISION_ID=#divisionId# 
	</update>
	
	<delete id="delete" parameterClass="java.lang.Integer">
		DELETE FROM DIVISIONS
		WHERE DIVISION_ID=#id#
	</delete>
	
	<select id="getNewId" resultClass="java.lang.Integer">
		SELECT NVL(MAX(DIVISION_ID)+1, 1) FROM DIVISIONS
	</select>
	
	<select id="get" resultClass="prime.admin.division.DivisionBean" parameterClass="java.lang.Integer">
		SELECT 
			DIVISION_ID 	AS divisionId, 
			DIVISION_NAME 	AS divisionName
		FROM DIVISIONS
		WHERE DIVISION_ID=#id#
	</select>
	
	<select id="getListByCol" resultClass="prime.admin.division.DivisionBean" parameterClass="java.util.Map">
		SELECT * FROM  (SELECT page.*, ROWNUM rnum FROM 
		(SELECT DIVISION_ID AS divisionId, 
		DIVISION_NAME AS divisionName
		FROM DIVISIONS
	    <dynamic prepend="WHERE">
	        <isNotNull property="columnSearch">
		       	<isEqual property="columnSearch" compareValue="NAME">
			          UPPER(DIVISION_NAME) LIKE UPPER('%'||#value#||'%')
				</isEqual> 
	        </isNotNull>
	    </dynamic>
	    ORDER BY DIVISION_NAME ASC) page 
	    WHERE ROWNUM <![CDATA[ <= ]]> #endRow#) WHERE rnum <![CDATA[ >= ]]> #startRow#
	</select>
	<select id="getCountListByCol" resultClass="java.lang.Integer" parameterClass="java.util.Map">
		SELECT COUNT(1) 
		FROM DIVISIONS 
	    <dynamic prepend="WHERE">
	        <isNotNull property="columnSearch">
		      	<isEqual property="columnSearch" compareValue="NAME">
			          UPPER(DIVISION_NAME) LIKE UPPER('%'||#value#||'%')
				</isEqual> 
	        </isNotNull>
	    </dynamic>
	</select>
	
	<select id="selectAll" resultClass="prime.admin.division.DivisionBean">
		SELECT DIVISION_ID AS divisionId, 
		DIVISION_NAME AS divisionName
		FROM DIVISIONS
	    ORDER BY DIVISION_NAME ASC
	</select>
</sqlMap>