<!DOCTYPE sqlMap PUBLIC "-//ibatis.apache.org//DTD SQL MAP 2.0//EN"
"http://ibatis.apache.org/dtd/sql-map-2.dtd">
<sqlMap namespace="generalsetting">

	<update id="save" parameterClass="prime.admin.setting.GeneralSettingBean">
		UPDATE GENERAL_SETTINGS SET
			GENERAL_SETTING_LEVEL 	= #generalSettingLevel#, 
			MINIMUM_LEVEL_APPROVAL	= #minLevelApproval#,
			SMTP_USERNAME			= #smtpUsername#,
			SMTP_PASSWORD			= #smtpPassword#,
			UPDATED_BY 				= #updateBy#
	</update>

	<select id="get" resultClass="prime.admin.setting.GeneralSettingBean">
		SELECT
			GENERAL_SETTING_LEVEL 	AS generalSettingLevel, 
			MINIMUM_LEVEL_APPROVAL	AS minLevelApproval,
			SMTP_USERNAME			AS smtpUsername, 
			SMTP_PASSWORD			AS smtpPassword
		FROM 
			GENERAL_SETTINGS
	</select>
	
</sqlMap>
