<!DOCTYPE sqlMap PUBLIC "-//ibatis.apache.org//DTD SQL MAP 2.0//EN"
"http://ibatis.apache.org/dtd/sql-map-2.dtd">
<sqlMap namespace="holiday">
	<insert id="insert" parameterClass="prime.admin.holiday.HolidayBean">
		INSERT INTO  NATIONAL_HOLIDAYS
			(HOLIDAY_DATE , NATIONAL_DESCRIPTION, UPDATED_BY) 
		VALUES 
			(#holidayDate#, #holidayDescription#, #updateBy#)
	</insert>
	
	<update id="update" parameterClass="prime.admin.holiday.HolidayBean">
		UPDATE 
			NATIONAL_HOLIDAYS 
		SET
			NATIONAL_DESCRIPTION = #holidayDescription#,
			UPDATED_BY 			 = #updateBy#
		WHERE 
			HOLIDAY_DATE=#holidayDate#
	</update>
	
	<delete id="delete" parameterClass="java.sql.Date">
		DELETE FROM 
			NATIONAL_HOLIDAYS 
		WHERE 
			HOLIDAY_DATE=#date#
	</delete>
	
	<select id="get" resultClass="prime.admin.holiday.HolidayBean" parameterClass="java.sql.Date">
		SELECT 
			HOLIDAY_DATE 			AS holidayDate, 
			NATIONAL_DESCRIPTION 	AS holidayDescription
		FROM 
			NATIONAL_HOLIDAYS
		WHERE 
			HOLIDAY_DATE=#date#
	</select>
	
	<select id="getListByCol" resultClass="prime.admin.holiday.HolidayBean" parameterClass="java.util.Map">
		SELECT * FROM  (SELECT page.*, ROWNUM rnum FROM 
		(SELECT 
			HOLIDAY_DATE 			AS holidayDate, 
			NATIONAL_DESCRIPTION 	AS holidayDescription
		FROM 
			NATIONAL_HOLIDAYS
	    <dynamic prepend="WHERE">
	        <isNotNull property="columnSearch">
		       	<isEqual property="columnSearch" compareValue="DATE">
			          HOLIDAY_DATE BETWEEN TO_DATE(#startHoliday#, 'yyyy-mm-dd') AND TO_DATE(#untilHoliday#, 'yyyy-mm-dd')
				</isEqual> 
		       	<isEqual property="columnSearch" compareValue="DESCRIPTION">
			          UPPER(NATIONAL_DESCRIPTION) LIKE UPPER('%'||#value#||'%')
				</isEqual> 
	        </isNotNull>
	    </dynamic>
	    ORDER BY HOLIDAY_DATE ASC) page 
	    WHERE ROWNUM <![CDATA[ <= ]]> #endRow#) WHERE rnum <![CDATA[ >= ]]> #startRow#
	</select>
	<select id="getCountListByCol" resultClass="java.lang.Integer" parameterClass="java.util.Map">
		SELECT 
			COUNT(1) 
		FROM 
			NATIONAL_HOLIDAYS 
	    <dynamic prepend="WHERE">
	        <isNotNull property="columnSearch">
		      	<isEqual property="columnSearch" compareValue="DESCRIPTION">
			          UPPER(NATIONAL_DESCRIPTION) LIKE UPPER('%'||#value#||'%')
				</isEqual> 
	        </isNotNull>
	    </dynamic>
	</select>
	
	<select id="getListByYear" resultClass="prime.admin.holiday.HolidayBean" parameterClass="java.util.Map">
		SELECT 
			HOLIDAY_DATE 			AS holidayDate, 
        	NATIONAL_DESCRIPTION 	AS holidayDescription
        FROM NATIONAL_HOLIDAYS
        WHERE  TO_CHAR(HOLIDAY_DATE, 'yyyy') = '2015'
	</select>
</sqlMap>