<!DOCTYPE sqlMap PUBLIC "-//ibatis.apache.org//DTD SQL MAP 2.0//EN"
"http://ibatis.apache.org/dtd/sql-map-2.dtd">
<sqlMap namespace="login">
	<select id="isUserExists" resultClass="java.lang.Integer" parameterClass="java.lang.String">
		SELECT 
			COUNT(0)
		FROM USERS  
		WHERE UPPER(USERNAME) = UPPER(#userName#)
	</select>
	
	<select id="isUserValidated" resultClass="java.lang.Integer" parameterClass="java.util.HashMap">
		SELECT 
			COUNT(0)
		FROM USERS  
		WHERE UPPER(USERNAME) = UPPER(#userName#) AND
			  PASSWORD=dbms_crypto.hash(to_clob(#password#), 2)
	</select>
	
	<select id="getUserDetails" resultClass="prime.login.LoginBean" parameterClass="java.lang.String">
		SELECT 
				USERNAME 		as username,
				IS_ACTIVE_DIR 	as activeDirectory,
				STATUS_USER		as statusUser,
				LOGIN_SESSION	as loginSession,
				EMPLOYEE_ID		as employeeId,
				SYSTEM_LEVEL	as systemLevel,
				ACTION_DATE		as actionDate
		FROM USERS  
		WHERE UPPER(USERNAME)=UPPER(#username#)
	</select>
	
	<update id="setLoginSession" parameterClass="java.lang.String">
		UPDATE USERS 
		SET 
			LOGIN_SESSION = dbms_crypto.hash(to_clob(TO_CHAR(SYSDATE, 'MM-DD-YYYY HH24:MI:SS')), 2),
			LAST_ACTIVE   = SYSDATE 
		WHERE UPPER(USERNAME)=UPPER(#username#)
	</update>
	
	<select id="getLoginSession" resultClass="java.lang.String"  parameterClass="java.lang.String">
		SELECT LOGIN_SESSION FROM USERS WHERE UPPER(USERNAME)=UPPER(#username#)
	</select>
	
</sqlMap>