<!DOCTYPE sqlMap PUBLIC "-//ibatis.apache.org//DTD SQL MAP 2.0//EN"
"http://ibatis.apache.org/dtd/sql-map-2.dtd">
<sqlMap namespace="login">
	<select id="getUser" resultClass="prime.admin.user.UserBean" parameterClass="java.lang.String">
		SELECT 
			USERNAME 		as userName,
			PASSWORD		as password,
			SYSTEM_LEVEL	as sysLevel,
			IS_ACTIVE_DIR 	as isActiveDirectory
		FROM USERS  
		WHERE UPPER(USERNAME)=UPPER(#name#)
	</select>
</sqlMap>