<!DOCTYPE sqlMap PUBLIC "-//ibatis.apache.org//DTD SQL MAP 2.0//EN"
"http://ibatis.apache.org/dtd/sql-map-2.dtd">
<sqlMap namespace="notification">
	<insert id="insert" parameterClass="java.util.Map">
		INSERT INTO NOTIFICATIONS(
			NOTIFICATION_ID,
			SENDER,
			RECEIVER,
			NOTIFICATION_STATUS,
			NOTIFICATION_TYPE,
			NOTIFICATION_SEND_DATE,
			NOTIFICATION_NOTE,
			NOTIFICATION_TEMPLATE_ID 
		) VALUES (
			#notifId#, 
			#senderId#,
			#receiverId#,
			1,
			1,
			SYSDATE,
			#notifValue#,
			#notifType#
		)
	</insert>
	
	<select id="getNewId" resultClass="java.lang.Integer">
		SELECT NVL(MAX(NOTIFICATION_ID)+1, 1) FROM NOTIFICATIONS
	</select>

	<select id="getListByCol" resultClass="prime.user.notification.NotificationBean" parameterClass="java.util.Map">
		SELECT * FROM  (SELECT page.*, ROWNUM rnum FROM 
		(SELECT NOTIF.NOTIFICATION_ID AS notificationId,
		E.EMPLOYEE_NAME AS senderName, 
        EMP.EMPLOYEE_NAME AS receiverName,
		NOTIF.NOTIFICATION_STATUS AS notificationStatus,
        NOTIF_TEMPLATE.NOTIFICATION_NAME AS notificationNameType,
        NOTIF.NOTIFICATION_SEND_DATE AS notificationSendDate,
        NOTIF.NOTIFICATION_NOTE AS notificationNote,
        NOTIF.NOTIFICATION_TEMPLATE_ID AS notificationTemplateId
		FROM NOTIFICATIONS NOTIF
        JOIN EMPLOYEES E ON E.EMPLOYEE_ID = NOTIF.SENDER
        JOIN EMPLOYEES EMP ON EMP.EMPLOYEE_ID = NOTIF.RECEIVER
        JOIN NOTIFICATION_TEMPLATES NOTIF_TEMPLATE ON NOTIF_TEMPLATE.NOTIFICATION_TEMPLATE_ID = NOTIF.NOTIFICATION_TEMPLATE_ID
        WHERE RECEIVER=#employeeId#
	    <dynamic prepend="AND">
	        <isNotNull property="columnSearch">
		       	<isEqual property="columnSearch" compareValue="ID">
			          UPPER(NOTIF.NOTIFICATION_ID) LIKE UPPER('%'||#value#||'%')
				</isEqual> 
				<isEqual property="columnSearch" compareValue="SENDER">
			          UPPER(E.EMPLOYEE_NAME) LIKE UPPER('%'||#value#||'%')
				</isEqual>
				<isEqual property="columnSearch" compareValue="RECEIVER">
			          UPPER(EMP.EMPLOYEE_NAME) LIKE UPPER('%'||#value#||'%')
				</isEqual> 
	        </isNotNull>
	    </dynamic>
	    ORDER BY NOTIF.NOTIFICATION_ID ASC) page 
	    WHERE ROWNUM <![CDATA[ <= ]]> #endRow#) WHERE rnum <![CDATA[ >= ]]> #startRow#
 	</select>
	 	
	<select id="getCountListByCol" resultClass="java.lang.Integer" parameterClass="java.util.Map">
		SELECT COUNT(1) 
	    FROM NOTIFICATIONS NOTIF
        JOIN EMPLOYEES E ON E.EMPLOYEE_ID = NOTIF.SENDER
        JOIN EMPLOYEES EMP ON EMP.EMPLOYEE_ID = NOTIF.RECEIVER
        WHERE RECEIVER=#employeeId#
	    <dynamic prepend="AND">
	        <isNotNull property="columnSearch">
		       	<isEqual property="columnSearch" compareValue="ID">
			          UPPER(NOTIF.NOTIFICATION_ID) LIKE UPPER('%'||#value#||'%')
				</isEqual> 
				<isEqual property="columnSearch" compareValue="SENDER">
			          UPPER(E.EMPLOYEE_NAME) LIKE UPPER('%'||#value#||'%')
				</isEqual>
				<isEqual property="columnSearch" compareValue="RECEIVER">
			          UPPER(EMP.EMPLOYEE_NAME) LIKE UPPER('%'||#value#||'%')
				</isEqual> 
	        </isNotNull>
	    </dynamic>
	</select>
	
	<select id="getListNotifNoRead" resultClass="prime.user.notification.NotificationBean" parameterClass="java.lang.Integer">
		SELECT NOTIF.NOTIFICATION_NOTE AS notificationNote,
			   NT.NOTIFICATION_NAME AS notificationNameType
	    FROM NOTIFICATIONS NOTIF
        JOIN EMPLOYEES E ON E.EMPLOYEE_ID = NOTIF.SENDER
        JOIN EMPLOYEES EMP ON EMP.EMPLOYEE_ID = NOTIF.RECEIVER
        JOIN NOTIFICATION_TEMPLATES NT ON NT.NOTIFICATION_TEMPLATE_ID = NOTIF.NOTIFICATION_TEMPLATE_ID
        WHERE NOTIFICATION_STATUS = '1' AND RECEIVER = #employeeId# AND ROWNUM <![CDATA[ <= ]]> 5
	</select>
	
	<select id="getCountListNotifNoRead" resultClass="java.lang.Integer" parameterClass="java.lang.Integer">
		SELECT COUNT(1) 
	    FROM NOTIFICATIONS NOTIF
        JOIN EMPLOYEES E ON E.EMPLOYEE_ID = NOTIF.SENDER
        JOIN EMPLOYEES EMP ON EMP.EMPLOYEE_ID = NOTIF.RECEIVER
        WHERE NOTIFICATION_STATUS = '1' AND RECEIVER = #employeeId# 
	</select>
	
	
	<update id="markAsRead" parameterClass="java.lang.Integer">
		UPDATE NOTIFICATIONS 
		SET 
			NOTIFICATION_STATUS = 2
		WHERE NOTIFICATION_ID=#notifId#
	</update>
</sqlMap>