<!DOCTYPE sqlMap PUBLIC "-//ibatis.apache.org//DTD SQL MAP 2.0//EN"
"http://ibatis.apache.org/dtd/sql-map-2.dtd">
<sqlMap namespace="position">
	<insert id="insert" parameterClass="prime.admin.position.PositionBean">
		INSERT INTO POSITIONS
		(POSITION_ID , POSITION_NAME, POSITION_LEVEL, UPDATED_BY) VALUES 
		(#positionId#, #positionName#, #positionLevel#, #updateBy#)
	</insert>
	
	<update id="update" parameterClass="prime.admin.position.PositionBean">
		UPDATE POSITIONS SET
			POSITION_NAME	= #positionName#,
			POSITION_LEVEL	= #positionLevel#,
			UPDATED_BY 		= #updateBy#
		WHERE POSITION_ID=#positionId#
	</update>
	
	<delete id="delete" parameterClass="java.lang.Integer">
		DELETE FROM POSITIONS
		WHERE POSITION_ID=#id#
	</delete>
	
	<select id="getNewId" resultClass="java.lang.Integer">
		SELECT NVL(MAX(POSITION_ID)+1, 1) FROM POSITIONS
	</select>
	
	<select id="get" resultClass="prime.admin.position.PositionBean" parameterClass="java.lang.Integer">
		SELECT POSITION_ID AS positionId, 
		POSITION_NAME AS positionName,
		POSITION_LEVEL AS positionLevel
		FROM POSITIONS
		WHERE POSITION_ID=#id#
	</select>
	
	<select id="getListByCol" resultClass="prime.admin.position.PositionBean" parameterClass="java.util.Map">
		SELECT * FROM  (SELECT page.*, ROWNUM rnum FROM 
		(SELECT POSITION_ID AS positionId, 
		POSITION_NAME AS positionName,
		POSITION_LEVEL AS positionLevel
		FROM POSITIONS
	    <dynamic prepend="WHERE">
	        <isNotNull property="columnSearch">
		       	<isEqual property="columnSearch" compareValue="NAME">
			          UPPER(POSITION_NAME) LIKE UPPER('%'||#value#||'%')
				</isEqual>
				<isEqual property="columnSearch" compareValue="LEVEL">
			          UPPER(POSITION_LEVEL) LIKE UPPER('%'||#value#||'%')
				</isEqual>  
	        </isNotNull>
	    </dynamic>
	    ORDER BY POSITION_NAME ASC) page 
	    WHERE ROWNUM <![CDATA[ <= ]]> #endRow#) WHERE rnum <![CDATA[ >= ]]> #startRow#
	</select>
	  
	<select id="getCountListByCol" resultClass="java.lang.Integer" parameterClass="java.util.Map">
		SELECT COUNT(1) 
		FROM POSITIONS 
	    <dynamic prepend="WHERE">
	        <isNotNull property="columnSearch">
		      	<isEqual property="columnSearch" compareValue="NAME">
			          UPPER(POSITION_NAME) LIKE UPPER('%'||#value#||'%')
				</isEqual> 
				<isEqual property="columnSearch" compareValue="LEVEL">
			          UPPER(POSITION_LEVEL) LIKE UPPER('%'||#value#||'%')
				</isEqual> 
	        </isNotNull>
	    </dynamic>
	</select>
	
	<select id="selectAll" resultClass="prime.admin.position.PositionBean">
		SELECT POSITION_ID AS positionId, 
		POSITION_NAME AS positionName,
		POSITION_LEVEL AS positionLevel
		FROM POSITIONS
	    ORDER BY POSITION_NAME ASC
	</select>
	
	<select id="getPositionUsed" resultClass="java.lang.Integer" parameterClass="java.lang.Integer">
		SELECT COUNT(1) 
		FROM EMPLOYEES EMP
		WHERE POSITION_ID = #positionId# AND 
		EMP.EMPLOYEE_ID NOT IN (SELECT EMPLOYEE_ID FROM RESIGN_EMPLOYEES)
	</select>
</sqlMap>