<!DOCTYPE sqlMap PUBLIC "-//ibatis.apache.org//DTD SQL MAP 2.0//EN"
"http://ibatis.apache.org/dtd/sql-map-2.dtd">

<sqlMap namespace="reportemployees">

	<select id="getListByColumn" resultClass="prime.user.report.employees.ReportEmployeesBean" parameterClass="java.util.Map">
		SELECT * FROM  (SELECT page.*, ROWNUM rnum FROM 
		(SELECT 
		    EMP.EMPLOYEE_ID AS employeeId, 
		    EMP.EMPLOYEE_NAME AS employeeName,
		    GENDER AS gender,
		    ADDRESS AS address,
		    BIRTHDATE AS birthdate,
		    HIRE_DATE AS hireDate,
		    CONTACT_NUMBER AS contactNumber,
		    EMAIL AS email,
		    DIVISION_NAME AS divisionName,
		    POSITION_NAME AS positionName,
		    MANAGER.EMPLOYEE_NAME AS managerName,
		    RE.RESIGN_DATE AS resignDate
		FROM EMPLOYEES EMP 
		LEFT JOIN DIVISIONS DIV ON DIV.DIVISION_ID = EMP.DIVISION_ID
		JOIN POSITIONS POS ON POS.POSITION_ID = EMP.POSITION_ID
		LEFT JOIN (
		    SELECT E.EMPLOYEE_ID, E.EMPLOYEE_NAME FROM EMPLOYEES E
		) MANAGER ON MANAGER.EMPLOYEE_ID = EMP.HEAD_ID
		LEFT JOIN (
		    SELECT EMPLOYEE_ID, RESIGN_DATE FROM RESIGN_EMPLOYEES
		)RE ON RE.EMPLOYEE_ID = EMP.EMPLOYEE_ID
		WHERE TREE_ID LIKE (SELECT TREE_ID FROM EMPLOYEES WHERE EMPLOYEE_ID= #empId#)||'%'
	    <dynamic prepend="AND">
	        <isNotNull property="columnSearch">
	        	<isEqual property="columnSearch" compareValue="ID">
			          UPPER(EMP.EMPLOYEE_ID) LIKE UPPER(#value#)
				</isEqual>
		       	<isEqual property="columnSearch" compareValue="NAME">
			          UPPER(EMP.EMPLOYEE_NAME) LIKE UPPER('%'||#value#||'%')
				</isEqual> 
				<isEqual property="columnSearch" compareValue="GENDER">
			          UPPER(EMP.GENDER) = #value#
				</isEqual> 
				<isEqual property="columnSearch" compareValue="EMAIL">
			          UPPER(EMP.EMAIL) LIKE UPPER('%'||#value#||'%')
				</isEqual> 
				<isEqual property="columnSearch" compareValue="DIVISION">
			          UPPER(DIVISION_NAME) LIKE UPPER('%'||#value#||'%')
				</isEqual> 
				<isEqual property="columnSearch" compareValue="POSITION">
			          UPPER(POSITION_NAME) LIKE UPPER('%'||#value#||'%')
				</isEqual> 
				<isEqual property="columnSearch" compareValue="MANAGER">
			          UPPER(MANAGER.EMPLOYEE_NAME) LIKE UPPER('%'||#value#||'%')
				</isEqual> 
				<isEqual property="columnSearch" compareValue="STATUS">
			           (CASE 
				            WHEN NVL(TO_CHAR(RE.RESIGN_DATE, 'yyyy-mm-dd'), '0') = '0' THEN 0
				            ELSE 1
				        END) = #value#
				</isEqual> 
	        </isNotNull>
	    </dynamic>
	    ORDER BY EMP.EMPLOYEE_ID ASC) page 
	    WHERE ROWNUM <![CDATA[ <= ]]> #endRow#) WHERE rnum <![CDATA[ >= ]]> #startRow#
	</select>
	
	<select id="getCountByColumn" resultClass="java.lang.Integer" parameterClass="java.util.Map">
		SELECT COUNT(1) 
		FROM EMPLOYEES EMP 
		LEFT JOIN DIVISIONS DIV ON DIV.DIVISION_ID = EMP.DIVISION_ID
		JOIN POSITIONS POS ON POS.POSITION_ID = EMP.POSITION_ID
		LEFT JOIN (
		    SELECT E.EMPLOYEE_ID, E.EMPLOYEE_NAME FROM EMPLOYEES E
		) MANAGER ON MANAGER.EMPLOYEE_ID = EMP.HEAD_ID
		LEFT JOIN (	
		    SELECT EMPLOYEE_ID, RESIGN_DATE FROM RESIGN_EMPLOYEES
		)RE ON RE.EMPLOYEE_ID = EMP.EMPLOYEE_ID
		WHERE TREE_ID LIKE (SELECT TREE_ID FROM EMPLOYEES WHERE EMPLOYEE_ID= #empId#)||'%'
	    <dynamic prepend="AND">
	        <isNotNull property="columnSearch">
		       	<isEqual property="columnSearch" compareValue="ID">
			          UPPER(EMP.EMPLOYEE_ID) LIKE UPPER(#value#)
				</isEqual>
		       	<isEqual property="columnSearch" compareValue="NAME">
			          UPPER(EMP.EMPLOYEE_NAME) LIKE UPPER('%'||#value#||'%')
				</isEqual>
				<isEqual property="columnSearch" compareValue="GENDER">
			          UPPER(GENDER) = UPPER(#value#)
				</isEqual> 
				<isEqual property="columnSearch" compareValue="EMAIL">
			          UPPER(EMAIL) LIKE UPPER('%'||#value#||'%')
				</isEqual> 
				<isEqual property="columnSearch" compareValue="DIVISION">
			          UPPER(DIVISION_NAME) LIKE UPPER('%'||#value#||'%')
				</isEqual> 
				<isEqual property="columnSearch" compareValue="POSITION">
			          UPPER(POSITION_NAME) LIKE UPPER('%'||#value#||'%')
				</isEqual> 
				<isEqual property="columnSearch" compareValue="MANAGER">
			          UPPER(MANAGER.EMPLOYEE_NAME) LIKE UPPER('%'||#value#||'%')
				</isEqual>
				<isEqual property="columnSearch" compareValue="STATUS">
		           (CASE 
			            WHEN NVL(TO_CHAR(RE.RESIGN_DATE, 'yyyy-mm-dd'), '0') = '0' THEN 0
			            ELSE 1
			        END) = #value#
				</isEqual> 
	        </isNotNull>
	    </dynamic>
	</select>
	
	<select id="get"  resultClass="prime.user.report.employees.ReportEmployeesBean" parameterClass="java.lang.Integer">
		SELECT 
	        EMP.EMPLOYEE_ID AS employeeId, 
	        EMP.EMPLOYEE_NAME AS employeeName,
	        GENDER AS gender,
	        (
	        	CASE WHEN GENDER = 0 THEN 'Male'
	        	WHEN GENDER = 1 THEN 'Female'
	        	END
	        ) AS genderName,
	        ADDRESS AS address,
	        BIRTHDATE AS birthdate,
	        HIRE_DATE AS hireDate,
	        CONTACT_NUMBER AS contactNumber,
	        EMAIL AS email,
	        DIV.DIVISION_ID AS divisionId,
	        DIV.DIVISION_NAME AS divisionName,
	        POS.POSITION_ID AS positionId,
	        POS.POSITION_NAME AS positionName,
	        MANAGER.EMPLOYEE_ID AS managerId,
	        MANAGER.EMPLOYEE_NAME AS managerName,
	        MANAGER.DIVISION_ID AS managerDivisionId, 
	        MANAGER.TREE_ID AS managerTreeId,
	        RE.RESIGN_DATE AS resignDate,
	        RE.RESIGN_NOTE AS resignNote,
	        EMP.TREE_ID AS treeId 
        FROM EMPLOYEES EMP 
        LEFT JOIN DIVISIONS DIV ON DIV.DIVISION_ID = EMP.DIVISION_ID
        JOIN POSITIONS POS ON POS.POSITION_ID = EMP.POSITION_ID
        LEFT JOIN (
        	SELECT EMPLOYEE_ID, EMPLOYEE_NAME,DIVISION_ID,TREE_ID FROM EMPLOYEES
        ) MANAGER ON MANAGER.EMPLOYEE_ID = EMP.HEAD_ID
        LEFT JOIN (
		    SELECT EMPLOYEE_ID, RESIGN_DATE, RESIGN_NOTE FROM RESIGN_EMPLOYEES
		)RE ON RE.EMPLOYEE_ID = EMP.EMPLOYEE_ID
        WHERE EMP.EMPLOYEE_ID=#id#
	</select>
	
	<select id="getListEmployeeTaskReport" resultClass="prime.user.report.employees.ReportEmployeesTaskBean" parameterClass="java.util.Map">
		SELECT * FROM (SELECT page.*, ROWNUM rnum FROM
		(SELECT TASK_ID AS taskId,
		 TASK_NAME AS taskName,
		 TASK_DESCRIPTION AS taskDescription,
		 TASK_START_DATE AS taskStartDate,
		 TASK_ESTIMATE_DATE AS taskEstimateDate,
         TASK_LAST_STATUS AS taskLastStatus, 
        PRO.PROJECT_NAME AS projectName, 
        EMP.EMPLOYEE_NAME AS taskAssignerName, 
        EMP2.EMPLOYEE_NAME AS taskReceiverName
        FROM TASKS TSK 
        JOIN PROJECT_MEMBERS PROM ON TSK.PROJECT_MEMBER_ID = PROM.PROJECT_MEMBER_ID
        LEFT JOIN PROJECTS PRO ON PRO.PROJECT_ID = PROM.PROJECT_ID
   		JOIN EMPLOYEES EMP ON EMP.EMPLOYEE_ID = TSK.TASK_ASSIGNER
    	JOIN EMPLOYEES EMP2 ON EMP2.EMPLOYEE_ID = TSK.TASK_RECEIVER
		WHERE TASK_RECEIVER=#empId# OR TASK_ASSIGNER=#empId#
		<dynamic prepend="AND">
			<isNotNull property="columnSearch">
				<isEqual property="columnSearch" compareValue="NAME">
					UPPER(TASK_NAME) LIKE UPPER('%'||#value#||'%')
				</isEqual>
				<isEqual property="columnSearch" compareValue="DESCRIPTION">
					UPPER(TASK_DESCRIPTION) LIKE UPPER('%'||#value#||'%')
				</isEqual>
				<isEqual property="columnSearch" compareValue="ASSIGNER">
					UPPER(EMP_ASSIGN.EMPLOYEE_NAME) LIKE UPPER('%'||#value#||'%')
				</isEqual>
				<isEqual property="columnSearch" compareValue="RECEIVER">
					UPPER(EMP_RECEIVE.EMPLOYEE_NAME) LIKE UPPER('%'||#value#||'%')
				</isEqual>
				<isEqual property="columnSearch" compareValue="STARTDATE">
					TASK_START_DATE BETWEEN TO_DATE(#startDate#, 'yyyy-mm-dd') AND TO_DATE(#untilDate#, 'yyyy-mm-dd')
				</isEqual>
				<isEqual property="columnSearch" compareValue="ESTIMATEDATE">
					TASK_ESTIMATE_DATE BETWEEN TO_DATE(#startDate#, 'yyyy-mm-dd') AND TO_DATE(#untilDate#, 'yyyy-mm-dd')
				</isEqual>
			</isNotNull>
		</dynamic>
		ORDER BY TASK_NAME ASC) page 
		WHERE ROWNUM <![CDATA[ <= ]]> #endRow#) WHERE rnum <![CDATA[ >= ]]> #startRow#
	</select>
	
	<select id="getCountListEmployeeTaskReport" resultClass="java.lang.Integer" parameterClass="java.util.Map">
		SELECT COUNT(1)
		FROM TASKS TASK
		JOIN EMPLOYEES EMP_ASSIGN ON TASK.TASK_ASSIGNER=EMP_ASSIGN.EMPLOYEE_ID
		JOIN EMPLOYEES EMP_RECEIVE ON TASK.TASK_RECEIVER=EMP_RECEIVE.EMPLOYEE_ID
		JOIN (
		    SELECT TD.TASK_ID, MAX(TD.TASK_CHANGE_DATE) AS TASK_CHANGE_DATE FROM TASK_DETAILS TD
		    GROUP BY TD.TASK_ID
		) TASK_DET ON TASK_DET.TASK_ID=TASK.TASK_ID
		WHERE TASK_ASSIGNER=#empId# OR TASK_RECEIVER=#empId#
		<dynamic prepend="AND">
			<isNotNull property="columnSearch">
				<isEqual property="columnSearch" compareValue="NAME">
					UPPER(TASK_NAME) LIKE UPPER('%'||#value#||'%')
				</isEqual>
				<isEqual property="columnSearch" compareValue="DESCRIPTION">
					UPPER(TASK_DESCRIPTION) LIKE UPPER('%'||#value#||'%')
				</isEqual>
				<isEqual property="columnSearch" compareValue="ASSIGNER">
					UPPER(EMP_ASSIGN.EMPLOYEE_NAME) LIKE UPPER('%'||#value#||'%')
				</isEqual>
				<isEqual property="columnSearch" compareValue="RECEIVER">
					UPPER(EMP_RECEIVE.EMPLOYEE_NAME) LIKE UPPER('%'||#value#||'%')
				</isEqual>
				<isEqual property="columnSearch" compareValue="STARTDATE">
					TASK_START_DATE BETWEEN TO_DATE(#startDate#, 'yyyy-mm-dd') AND TO_DATE(#untilDate#, 'yyyy-mm-dd')
				</isEqual>
				<isEqual property="columnSearch" compareValue="ESTIMATEDATE">
					TASK_ESTIMATE_DATE BETWEEN TO_DATE(#startDate#, 'yyyy-mm-dd') AND TO_DATE(#untilDate#, 'yyyy-mm-dd')
				</isEqual>
			</isNotNull>
		</dynamic>
		OR TASK.TASK_ID  IN (
		    SELECT X.TASK_ID FROM TASKS X
		    JOIN EMPLOYEES Y ON Y.EMPLOYEE_ID= X.TASK_ASSIGNER AND Y.EMPLOYEE_ID = X.TASK_RECEIVER
		    WHERE Y.HEAD_ID = #empId#
		    <dynamic prepend="AND">
				<isNotNull property="columnSearch">
					<isEqual property="columnSearch" compareValue="NAME">
						UPPER(X.TASK_NAME) LIKE UPPER('%'||#value#||'%')
					</isEqual>
					<isEqual property="columnSearch" compareValue="DESCRIPTION">
						UPPER(X.TASK_DESCRIPTION) LIKE UPPER('%'||#value#||'%')
					</isEqual>
					<isEqual property="columnSearch" compareValue="STARTDATE">
						X.TASK_START_DATE BETWEEN TO_DATE(#startDate#, 'yyyy-mm-dd') AND TO_DATE(#untilDate#, 'yyyy-mm-dd')
					</isEqual>
					<isEqual property="columnSearch" compareValue="ESTIMATEDATE">
						X.TASK_ESTIMATE_DATE BETWEEN TO_DATE(#startDate#, 'yyyy-mm-dd') AND TO_DATE(#untilDate#, 'yyyy-mm-dd')
					</isEqual>
				</isNotNull>
			</dynamic>
		) OR TASK.TASK_ID IN (
			SELECT X.TASK_ID FROM TASKS X
			JOIN PROJECT_MEMBERS Y ON X.PROJECT_MEMBER_ID = Y.PROJECT_MEMBER_ID
			JOIN EMPLOYEES Z ON Z.EMPLOYEE_ID=X.TASK_RECEIVER
            WHERE Z.HEAD_ID = #empId#
            <dynamic prepend="AND">
				<isNotNull property="columnSearch">
					<isEqual property="columnSearch" compareValue="NAME">
						UPPER(X.TASK_NAME) LIKE UPPER('%'||#value#||'%')
					</isEqual>
					<isEqual property="columnSearch" compareValue="DESCRIPTION">
						UPPER(X.TASK_DESCRIPTION) LIKE UPPER('%'||#value#||'%')
					</isEqual>
					<isEqual property="columnSearch" compareValue="STARTDATE">
						X.TASK_START_DATE BETWEEN TO_DATE(#startDate#, 'yyyy-mm-dd') AND TO_DATE(#untilDate#, 'yyyy-mm-dd')
					</isEqual>
					<isEqual property="columnSearch" compareValue="ESTIMATEDATE">
						X.TASK_ESTIMATE_DATE BETWEEN TO_DATE(#startDate#, 'yyyy-mm-dd') AND TO_DATE(#untilDate#, 'yyyy-mm-dd')
					</isEqual>
				</isNotNull>
			</dynamic>
        )
	</select>
</sqlMap>