<!DOCTYPE sqlMap PUBLIC "-//ibatis.apache.org//DTD SQL MAP 2.0//EN"
"http://ibatis.apache.org/dtd/sql-map-2.dtd">
<sqlMap namespace="role">
	<insert id="insert" parameterClass="prime.admin.role.RoleBean">
		INSERT INTO ROLES
		(ROLE_ID, ROLE_NAME, UPDATED_BY) VALUES 
		(#roleId#, #roleName#, #updateBy#)
	</insert>
	
	<update id="update" parameterClass="prime.admin.role.RoleBean">
		UPDATE ROLES SET
			ROLE_NAME	= #roleName#,
			UPDATED_BY 	= #updateBy#
		WHERE ROLE_ID=#roleId#
	</update>
	
	<delete id="delete" parameterClass="java.lang.Integer">
		DELETE FROM ROLES
		WHERE ROLE_ID=#id#
	</delete>
	
	<select id="getNewId" resultClass="java.lang.Integer">
		SELECT NVL(MAX(ROLE_ID)+1, 1) FROM ROLES
	</select>
	
	<select id="get" resultClass="prime.admin.role.RoleBean" parameterClass="java.lang.Integer">
		SELECT ROLE_ID AS roleId, 
		ROLE_NAME AS roleName
		FROM ROLES
		WHERE ROLE_ID=#id#
	</select>
	
	<select id="getListByCol" resultClass="prime.admin.role.RoleBean" parameterClass="java.util.Map">
		SELECT * FROM  (SELECT page.*, ROWNUM rnum FROM 
		(SELECT ROLE_ID AS roleId, 
		ROLE_NAME AS roleName
		FROM ROLES
	    <dynamic prepend="WHERE">
	        <isNotNull property="columnSearch">
		       	<isEqual property="columnSearch" compareValue="NAME">
			          UPPER(ROLE_NAME) LIKE UPPER('%'||#value#||'%')
				</isEqual> 
	        </isNotNull>
	    </dynamic>
	    ORDER BY ROLE_NAME ASC) page 
	    WHERE ROWNUM <![CDATA[ <= ]]> #endRow#) WHERE rnum <![CDATA[ >= ]]> #startRow#
	</select>
	
	<select id="getCountListByCol" resultClass="java.lang.Integer" parameterClass="java.util.Map">
		SELECT COUNT(1) 
		FROM ROLES 
	    <dynamic prepend="WHERE">
	        <isNotNull property="columnSearch">
		      	<isEqual property="columnSearch" compareValue="NAME">
			          UPPER(ROLE_NAME) LIKE UPPER('%'||#value#||'%')
				</isEqual> 
	        </isNotNull>
	    </dynamic>
	</select>
	
	<select id="selectAll" resultClass="prime.admin.role.RoleBean">
		SELECT
		    ROLE_ID		AS roleId,
		    ROLE_NAME	AS roleName
		FROM ROLES
		WHERE ROLE_ID !=1
	</select>
	
	<select id="getRolesByEmployeeIdAndProjectId" resultClass="prime.admin.role.RoleBean" parameterClass="java.util.Map">
		SELECT
		    ROLE.ROLE_ID	AS roleId,
		    ROLE.ROLE_NAME	AS roleName
		FROM PROJECT_MEMBERS PROJ_MBR
		JOIN ROLES ROLE ON PROJ_MBR.ROLE_ID = ROLE.ROLE_ID
		WHERE 
     		NVL(PROJ_MBR.PROJECT_MEMBER_STATUS, 1) = 1
     	AND
			PROJ_MBR.EMPLOYEE_ID = #employeeId#
		AND
			PROJ_MBR.PROJECT_ID  = #projectId#  
			
	</select>
	
</sqlMap>