<!DOCTYPE sqlMap PUBLIC "-//ibatis.apache.org//DTD SQL MAP 2.0//EN"
"http://ibatis.apache.org/dtd/sql-map-2.dtd">
<sqlMap namespace="user">
	<insert id="insert" parameterClass="prime.admin.user.UserBean">
		INSERT INTO USERS
		(USERNAME, PASSWORD, SYSTEM_LEVEL, LAST_ACTIVE, EMPLOYEE_ID, STATUS_USER, ACTION_DATE, IS_ACTIVE_DIR, UPDATED_BY) 
		VALUES 
		(#userName#, dbms_crypto.hash(to_clob(#password#), 2), #sysLevel#, SYSDATE-(1/(24*60)), #employeeId#, '1', SYSDATE-(1/(24*60)), #isActiveDirectory#, #updateBy#)
	</insert>
	
	<select id="get" resultClass="prime.admin.user.UserBean" parameterClass="java.lang.String">
		SELECT 
			USERNAME AS userName,
			SYSTEM_LEVEL AS sysLevel,
			STATUS_USER AS statusUser,
			EMP.EMPLOYEE_NAME AS employeeName,
			EMP.EMPLOYEE_ID AS employeeId,
			ACTION_DATE AS changeDate,
			IS_ACTIVE_DIR AS isActiveDirectory,
			LOGIN_SESSION AS loginSession,
			LAST_ACTIVE AS lastActive
		FROM USERS US
		JOIN EMPLOYEES EMP ON US.EMPLOYEE_ID = EMP.EMPLOYEE_ID
		WHERE LOWER(US.USERNAME) = LOWER(#username#)
	</select>
	
	<select id="isUserValidated" resultClass="java.lang.Integer" parameterClass="java.util.HashMap">
		SELECT 
			COUNT(0)
		FROM USERS  
		WHERE LOWER(USERNAME)=LOWER(#userName#) AND
			  PASSWORD=dbms_crypto.hash(to_clob(#password#), 2)
	</select>
	
	<update id="changePassword" parameterClass="java.util.HashMap">
		 UPDATE USERS SET
		 PASSWORD = dbms_crypto.hash(to_clob(#newPassword#), 2)
		 WHERE LOWER(USERNAME) = LOWER(#userName#)
	</update>
	
	<select id = "getNewId" resultClass = "java.lang.Integer">
	SELECT NVL(MAX(EMPLOYEE_ID)+1, 1) FROM EMPLOYEES
	</select>
	
	<update id="update"  parameterClass="prime.admin.user.UserBean">
		UPDATE USERS SET
		SYSTEM_LEVEL=#sysLevel# 
		WHERE LOWER(USERNAME) = LOWER(#userName#)
	</update>
	
	<update id="reset" parameterClass="prime.admin.user.UserBean">
		 UPDATE USERS SET
		 PASSWORD = dbms_crypto.hash(to_clob('12345'), 2)
		 WHERE LOWER(USERNAME) = LOWER(#userName#)
	</update>
	
	<update id="lock" parameterClass="prime.admin.user.UserBean">
		 UPDATE USERS SET
		 STATUS_USER = '0'
		 WHERE LOWER(USERNAME) = LOWER(#userName#)
	</update>
	
	<update id="unlock" parameterClass="prime.admin.user.UserBean">
		 UPDATE USERS SET
		 STATUS_USER = '1'
		 WHERE LOWER(USERNAME) = LOWER(#userName#)
	</update>
	
	<update id="changeActionDate" parameterClass="prime.admin.user.UserBean">
		UPDATE USERS SET
		ACTION_DATE = (SYSDATE + (1/(24 * 60)))
		WHERE LOWER(USERNAME) = LOWER(#userName#)
	</update>
	
	<select id="getListByColumn" resultClass="prime.admin.user.UserBean" parameterClass="java.util.Map">
		SELECT * FROM  (SELECT page.*, ROWNUM rnum FROM 
		(SELECT USERNAME AS userName, 
		SYSTEM_LEVEL AS sysLevel,
		US.EMPLOYEE_ID AS employeeId,
		EMP.EMPLOYEE_NAME AS employeeName,
		ACTION_DATE AS changeDate,
		STATUS_USER AS statusUser
		FROM USERS US
		JOIN EMPLOYEES EMP ON US.EMPLOYEE_ID = EMP.EMPLOYEE_ID
	    <dynamic prepend="WHERE">
	        <isNotNull property="columnSearch">
		       	<isEqual property="columnSearch" compareValue="USERNAME">
			          UPPER(US.USERNAME) LIKE UPPER('%'||#value#||'%')
				</isEqual> 
		       	<isEqual property="columnSearch" compareValue="ID">
			          UPPER(EMP.EMPLOYEE_ID) LIKE UPPER('%'||#value#||'%')
				</isEqual> 
		       	<isEqual property="columnSearch" compareValue="EMPNAME">
			          UPPER(EMP.EMPLOYEE_NAME) LIKE UPPER('%'||#value#||'%')
				</isEqual> 
			</isNotNull>
	    </dynamic>
	    ORDER BY USERNAME ASC) page 
	    WHERE ROWNUM <![CDATA[ <= ]]> #endRow#) WHERE rnum <![CDATA[ >= ]]> #startRow#
	</select>
	
	<select id="getCountListByColumn" resultClass="java.lang.Integer" parameterClass="java.util.Map">
		SELECT COUNT(1) 
		FROM USERS 
	    <dynamic prepend="WHERE">
	        <isNotNull property="columnSearch">
		      	<isEqual property="columnSearch" compareValue="NAME">
			          UPPER(USERNAME) LIKE UPPER('%'||#value#||'%')
				</isEqual> 
	        </isNotNull>
	    </dynamic>
	</select>
</sqlMap>
